<robot xmlns:xacro="http://ros.org/wiki/xacro" name="valkyrie_A_pkg">

	<xacro:property name="left_foot_ATI_pkg" value="val_config_files" />
	<xacro:property name="right_foot_ATI_pkg" value="val_config_files" />

	<xacro:property name="left_foot_ATI_cal" value="ati_config/FT17218.cal"/>
	<xacro:property name="right_foot_ATI_cal" value="ati_config/FT16592.cal" />

	<xacro:property name="pelvis_middle_imu_pkg" value="val_config_files" />
	<xacro:property name="pelvis_rear_imu_pkg" value="val_config_files" />
	<xacro:property name="torso_left_imu_pkg" value="val_config_files" />

	<xacro:property name="pelvis_middle_imu_cal" value="3dm_gx4_15/47095/Calibration.cal" />
	<xacro:property name="pelvis_rear_imu_cal" value="stim300/N25581710875719/Calibration.cal"
	<xacro:property name="torso_left_imu_cal" value="3dm_gx4_15/47090/Calibration.cal" />
</robot>
