<robot xmlns:xacro="http://ros.org/wiki/xacro" name="valkyrie">

    <xacro:property name="mesh_root" value="package://val_description/model/meshes"/>
    <xacro:include filename="$(find val_description)/model/robots/common/xacro/generic_models.xacro" />
    <xacro:include filename="$(find val_description)/model/robots/common/xacro/common_bodies.xacro" />
    <xacro:include filename="$(find val_description)/common/xacro/nodes/valkyrie_nodes.xacro"/>

    <xacro:make_pelvis />
    <xacro:make_waist waist_root_link="${Pelvis_Link_Name}" />
    <xacro:make_head head_root_link="${TorsoRollLinkName}" />
    <xacro:make_arm_mass_sims prefix="right" reflect="-1" arm_root_link="${TorsoRollLinkName}" />
    <xacro:make_arm_mass_sims prefix="left" reflect="1" arm_root_link="${TorsoRollLinkName}" />
    <xacro:make_leg prefix="right" reflect="-1" leg_root_link="${Pelvis_Link_Name}"/>
    <xacro:make_leg prefix="left" reflect="1" leg_root_link="${Pelvis_Link_Name}"/>

    <xacro:v1_trunk_sensors_usb sensor_node_tag="${torso_left_imu_node}" sensor_api_tag="${trunkImuApi}" sensor_pkg_tag="${torso_left_imu_pkg}" sensor_config_tag="${torso_left_imu_cal}" />
    <xacro:v1_leg_sensors prefix="left" reflect="1" ATI_node="${left_foot_ATI_node}" ATI_sensor_pkg="${left_foot_ATI_pkg}" ATI_config_file="${left_foot_ATI_cal}"/>
    <xacro:v1_leg_sensors prefix="right" reflect="-1" ATI_node="${right_foot_ATI_node}" ATI_sensor_pkg="${right_foot_ATI_pkg}" ATI_config_file="${right_foot_ATI_cal}"/>
    <xacro:include_multisense_hw />
    <xacro:v1_pelvis_rear_sensors_usb sensor_node_tag="${pelvis_rear_imu_node}" sensor_api_tag="${rearPelvisImuApi}"  sensor_pkg_tag="${pelvis_rear_imu_pkg}" sensor_config_tag="${pelvis_rear_imu_cal}" />

    <xacro:waist_transmissions_hw />
    <xacro:leg_transmissions_hw prefix="left"/>
    <xacro:leg_transmissions_hw prefix="right"/>
    <xacro:arm_transmissions_no_hands prefix="left"/>
    <xacro:arm_transmissions_no_hands prefix="right"/>
    <xacro:neck_transmissions_hw />
</robot>
