<?xml version="1.0" ?>
<robot name="valkyrie_firmware_locations" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="PublicProcFirmwareBaseURL" value="http://linkthatdoesnotresolve.com"/>
    <xacro:property name="PrivateProcFirmwareBaseURL" value="http://flexo.jsc.nasa.gov/bamboo/browse/EMB-SEAP/latest/artifact/shared/"/>

    <xacro:property name="PublicFPGAFirmwareBaseURL" value="http://linkthatdoesnotresolve.com"/>
    <xacro:property name="PrivateFPGAFirmwareBaseURL" value="http://flexo.jsc.nasa.gov/bamboo/browse/EMB-TURD/latest/artifact/BS/SBF-File/"/>

    <xacro:property name="TurboProcRotaryFirmwareExtension" value="Rotary-Binary-for-Bootloader/turbo_bootloader.bin"/>
    <xacro:property name="TurboProcLinearFirmwareExtension" value="Linear-Binary-for-Bootloader/turbo_bootloader.bin"/>

    <xacro:property name="TurboFPGAFirmwareNode1Extension" value="V1_turbodriver_daria1_c0n1.sbf.gz"/>
    <xacro:property name="TurboFPGAFirmwareNode2Extension" value="V1_turbodriver_daria1_c0n2.sbf.gz"/>
    <xacro:property name="TurboFPGAFirmwareNode3Extension" value="V1_turbodriver_daria1_c0n3.sbf.gz"/>
    <xacro:property name="TurboFPGAFirmwareNode4Extension" value="V1_turbodriver_daria1_c0n4.sbf.gz"/>
    <xacro:property name="TurboFPGAFirmwareNode5Extension" value="V1_turbodriver_daria1_c0n5.sbf.gz"/>
    <xacro:property name="TurboFPGAFirmwareNode6Extension" value="V1_turbodriver_daria1_c0n6.sbf.gz"/>
    <xacro:property name="TurboFPGAFirmwareNode7Extension" value="V1_turbodriver_daria1_c0n7.sbf.gz"/>
    <xacro:property name="TurboFPGAFirmwareNode8Extension" value="V1_turbodriver_daria1_c0n8.sbf.gz"/>

    <xacro:macro name="firmware_base_url" >
        <TurbodriverProcessorFirmware>
            <PublicProcFirmwareBaseURL id="${PublicProcFirmwareBaseURL}"/>
            <PrivateProcFirmwareBaseURL id="${PrivateProcFirmwareBaseURL}"/>
        </TurbodriverProcessorFirmware>
        <TurbodriverFPGAFirmware>
            <PublicFPGAFirmwareBaseURL id="${PublicFPGAFirmwareBaseURL}"/>
            <PrivateFPGAFirmwareBaseURL id="${PrivateFPGAFirmwareBaseURL}"/>
        </TurbodriverFPGAFirmware>
    </xacro:macro>

    <xacro:property name="LeftHipYawProcFirmware" value="${TurboProcRotaryFirmwareExtension}" />
    <xacro:property name="LeftHipYawFPGAFirmware" value="${TurboFPGAFirmwareNode3Extension}" />
    <xacro:property name="RightHipYawProcFirmware" value="${TurboProcRotaryFirmwareExtension}" />
    <xacro:property name="RightHipYawFPGAFirmware" value="${TurboFPGAFirmwareNode5Extension}" />
    <xacro:property name="HipRollProcFirmware" value="${TurboProcRotaryFirmwareExtension}" />
    <xacro:property name="HipRollFPGAFirmware" value="${TurboFPGAFirmwareNode2Extension}" />
    <xacro:property name="HipPitchProcFirmware" value="${TurboProcRotaryFirmwareExtension}" />
    <xacro:property name="HipPitchFPGAFirmware" value="${TurboFPGAFirmwareNode3Extension}" />
    <xacro:property name="KneePitchProcFirmware" value="${TurboProcRotaryFirmwareExtension}" />
    <xacro:property name="KneePitchFPGAFirmware" value="${TurboFPGAFirmwareNode4Extension}" />
    <xacro:property name="AnkleRightActuatorProcFirmware" value="${TurboProcLinearFirmwareExtension}" />
    <xacro:property name="AnkleRightActuatorFPGAFirmware" value="${TurboFPGAFirmwareNode5Extension}" />
    <xacro:property name="AnkleLeftActuatorProcFirmware" value="${TurboProcLinearFirmwareExtension}" />
    <xacro:property name="AnkleLeftActuatorFPGAFirmware" value="${TurboFPGAFirmwareNode6Extension}" />

    <xacro:property name="LeftShoulderPitchProcFirmware" value="${TurboProcRotaryFirmwareExtension}" />
    <xacro:property name="LeftShoulderPitchFPGAFirmware" value="${TurboFPGAFirmwareNode1Extension}" />
    <xacro:property name="RightShoulderPitchProcFirmware" value="${TurboProcRotaryFirmwareExtension}" />
    <xacro:property name="RightShoulderPitchFPGAFirmware" value="${TurboFPGAFirmwareNode4Extension}" />
    <xacro:property name="ShoulderRollProcFirmware" value="${TurboProcRotaryFirmwareExtension}" />
    <xacro:property name="ShoulderRollFPGAFirmware" value="${TurboFPGAFirmwareNode2Extension}" />
    <xacro:property name="ShoulderYawProcFirmware" value="${TurboProcRotaryFirmwareExtension}" />
    <xacro:property name="ShoulderYawFPGAFirmware" value="${TurboFPGAFirmwareNode3Extension}" />
    <xacro:property name="ElbowPitchProcFirmware" value="${TurboProcRotaryFirmwareExtension}" />
    <xacro:property name="ElbowPitchFPGAFirmware" value="${TurboFPGAFirmwareNode4Extension}" />
    <xacro:property name="ForearmYawProcFirmware" value="" />
    <xacro:property name="ForearmYawFPGAFirmware" value="" />

    <xacro:property name="LowerNeckPitchProcessorFirmware" value="" />
    <xacro:property name="LowerNeckPitchFPGAFirmware" value="" />
    <xacro:property name="NeckYawProcessorFirmware" value="" />
    <xacro:property name="NeckYawFPGAFirmware" value="" />
    <xacro:property name="UpperNeckPitchProcessorFirmware" value="" />
    <xacro:property name="UpperNeckPitchFPGAFirmware" value="" />

    <xacro:property name="TrunkYawProcessorFirmware" value="${TurboProcRotaryFirmwareExtension}" />
    <xacro:property name="TrunkYawFPGAFirmware" value="${TurboFPGAFirmwareNode1Extension}" />
    <xacro:property name="WaistLeftActuatorProcessorFirmware" value="${TurboProcLinearFirmwareExtension}" />
    <xacro:property name="WaistLeftActuatorFPGAFirmware" value="${TurboFPGAFirmwareNode2Extension}" />
    <xacro:property name="WaistRightActuatorProcessorFirmware" value="${TurboProcLinearFirmwareExtension}" />
    <xacro:property name="WaistRightActuatorFPGAFirmware" value="${TurboFPGAFirmwareNode3Extension}" />

    <xacro:property name="leftForearmProcessorFirmware" value=""/>
    <xacro:property name="leftForearmFPGAFirmware" value=""/>
    <xacro:property name="rightForearmProcessorFirmware" value=""/>
    <xacro:property name="rightForearmFPGAFirmware" value=""/>
</robot>
